a {
    color: #885df1;
  }

   header {
    border-bottom: 1px solid #f9f7fe;
    padding-bottom: 0 0 30px 0;
  }

.Weather h1 {
    font-size: 34px;
    font-weight: 100;
    margin: 20px 10px 0 0;
    margin-left: 40px;
    line-height: 29px;
}

.Weather ul {
    list-style: none;
    margin-bottom: -25px;
    color: rgb(31, 25, 25);
    font-size: 17px;
    font-weight: 300;
}

.Weather .humidity {
    list-style: none;
    color: rgb(31, 25, 25);
    font-size: 16px;
    font-weight: 100;
}

.Weather .description {
    text-transform: capitalize;
    font-weight: 300;
}

.Weather form {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 45px;
}

.Weather .control {
      background-color: #f9f7fe;
      border: none;
      border-radius: 8px;
      font-size: 22px;
      padding: 13px 80px 13px 25px;
      margin-top: 20px;
      margin-left: 90px;
}

.btn {
        margin: 12px 5px;
        font-size: 20px;
        background-color: #885df1;
        color: white;
        border: none;
        padding: 12px;
        margin: 15px 4px 4px 6px;
        margin-right: 4px;
        border-radius: 5px;
  }

  .Weather .temperature {
    font-size: 75px;
    font-weight: bold;
    color: rgb(39, 37, 37);
    display: flex;
    justify-content: right;
    margin-top: -250px;
    margin-right: 68px;
  }

  .Weather .unit {
    display: flex;
    justify-content: right;
    margin-top: -75px;
    margin-right: 15px;
  }

  .Weather .condition {
    display: flex;
    justify-content: right;
    margin-right: 30px;
  }

  .WeatherTemperature {
    margin-bottom: 45px;
  }

  .WeatherTemperature .temperature {
    color: rgb(249, 15, 245);
  }

  .Weather .icon {
    margin-left: 80px;
    margin-top: 50px;
  }

.Weather .Search {
    margin-left: 5px;
    font-size: 16px;
    background-color: #885df1;
    color: white;
    border: none;
    padding: 20px;
    line-height: 1;
    border-radius: 5px;
  }    

footer {
    border-top: 1px solid #f9f7fe;
    text-align: center;
    padding-top: 100px;
    font-size: 15px;
  }