.WeatherForecast {
    text-align: center;
    margin-top: 10px;
    padding-top: 40px;
}

.WeatherForecast-temperature-min {
    opacity: 0.6;
    margin-left: 5px;
}

.WeatherForecast-temperatures {
    color: rgb(249, 15, 245);
    margin-bottom: 10px;
    margin-top: 15px;
}

.WeatherForecast-temperatures .maximum {
    color: black;
}

.WeatherForecast-day {
    margin-top: 10px;
}

.WeatherForecast .icon {
    background-color: rgb(203, 198, 198);
}

.WeatherForecast .col {
    display: flex;
    justify-content: space-evenly;
}

